@import './scrollbar.css';
@import './transitions.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height-mobi: 40px;
    --nav-height-sm: 46px;
    --nav-height-md: 50px;
    --nav-height-lg: 60px;

    --max-w-sm: 600px;
    --max-w-md: 900px;
    --max-w-lg: 1140px;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
}

@layer components {
  .card {
    @apply p-4 border-b border-slate-300 dark:border-slate-700 md:border-none md:p-12 md:rounded-lg bg-white text-black md:shadow-sm w-full;
  }

  .input {
    @apply text-sm p-2 rounded overflow-hidden border border-zinc-900 dark:border-zinc-800 bg-gray-50 dark:bg-gray-800 text-zinc-800 dark:text-zinc-300;
  }
}

@layer utilities {
  /* Base styles, set light/dark mode here */
  body {
    @apply border-zinc-300 dark:border-zinc-500 text-zinc-800 dark:text-zinc-300 bg-zinc-100 dark:bg-neutral-950;
  }
  .nav-link {
    @apply text-zinc-800 dark:text-zinc-100 hover:text-primary-600 dark:hover:text-primary-700 cursor-pointer;
  }
  .link {
    @apply text-secondary-600 dark:text-secondary-800 hover:text-primary-500 dark:hover:text-primary-700 cursor-pointer;
  }
  .foreground {
    @apply bg-zinc-200 dark:bg-zinc-900;
  }
  .background {
    @apply border-zinc-300 dark:border-zinc-500 text-zinc-800 dark:text-zinc-300 bg-zinc-100 dark:bg-neutral-950;
  }
  .border-color {
    @apply border-zinc-300 dark:border-zinc-700 text-zinc-800 dark:text-zinc-300;
  }
  /* 
  Consider these
  .text-light {
    @apply text-zinc-100 dark:text-zinc-300;
  }
  .home-width {
    @apply max-w-[100%] md:max-w-[80%] lg:max-w-[1240px];
  }
  .inverted {
    @apply text-[#fff];
  } */
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-semibold;
  }
  h6 {
    @apply text-base font-bold uppercase tracking-tight;
  }
}
